.food-category {
    padding: 4rem;
    background-color: $color-bone;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 32rem;
    min-width: 32rem;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);

    & svg {
        color: $color-primary;
        width: 15rem;
        aspect-ratio: 1;
    }

    &__name {
        font-size: 2.8rem;
        text-align: center;
    }
}