@use '@sass/abstract/mixins'as *;
@use '@sass/abstract/variables'as *;

.main {
    padding: 12rem 0 0 0;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    padding: 0 12rem;
    grid-template-areas:
        "title frame"
        "paragraph frame"
        "button frame";

    @include respond(tab-port) {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "frame"
            "paragraph"
            "button";
        padding: 0 8rem;
    }


    &__title {
        grid-area: title;
    }

    &__paragraph {
        grid-area: paragraph;
    }

    &__button {
        grid-area: button;
        align-self: start;
        width: 60rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__frame {
        grid-area: frame;
    }
}

.section1 {
    margin-top: 20rem;
}

.section2 {
    margin-top: 40rem;
    padding: 10rem 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    background-color: $color-primary;
    height: 90rem;
    display: grid;
    grid-template-columns: 12rem repeat(2, 1fr) 12rem;
    grid-template-areas:
        ". title title ."
        ". frame paragraph ."
        ". frame button .";
    gap: 4rem;

    @include respond(tab-port) {
        height: 150rem;
        grid-template-columns: 4rem 1fr 4rem;
        grid-template-areas:
            ". title ."
            ". frame ."
            ". paragraph ."
            ". button .";
        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
    }

    &__title {
        grid-area: title;
    }

    &__frame {
        grid-area: frame;
    }

    &__paragraph {
        grid-area: paragraph;
    }

    &__button {
        grid-area: button;
    }




    &__text {
        display: grid;
        grid-template-rows: 1fr auto;
    }
}

.section3 {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 0 24rem;
    place-items: center;

    &__frame {
        padding: 1rem;
        border: 6px solid $color-black;
        border-radius: 100%;
        overflow: hidden;

        @include respond(tab-port) {
            margin-bottom: 4rem;
            border: 3px solid $color-black;
        }
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 8rem;
        margin-top: 5rem;
    }
}

.section4 {
    margin-top: 20rem;
    position: relative;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

    @include respond(tab-port) {
        height: 50vh;
        clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
        margin-top: 10rem;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: grid;
        place-items: center;
        text-align: center;
        padding: 0 50rem;

        @include respond(tab-port) {
            padding: 0 8rem;
        }
    }

    &__title {
        color: $color-primary;
    }

    &__text {
        font-size: 1.8rem;
        color: $color-white;
        margin-top: 2rem;
    }
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}