@use '@sass/abstract/mixins'as *;

$font-size: 1.8rem;

.recipe {
    @include padding;
    display: grid;

    @include respond(tab-port) {
        padding: 12rem 4rem;
    }
}

.info {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto auto auto auto 1fr;
    column-gap: 3rem;
    grid-template-areas:
        "frame title"
        "frame tags"
        "frame metadata"
        "frame description"
        "frame ingredients";

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "tags"
            "metadata"
            "frame"
            "description"
            "ingredients";
        text-align: center;
    }
}

.frame {
    grid-area: frame;

    & img{
        object-fit: cover;
    }
}

.title {
    grid-area: title;
    display: flex;
    gap: 2rem;
    align-items: flex-end;

    & svg {
        width: 5rem;
        aspect-ratio: 1;
        cursor: pointer;
    }

    @include respond(tab-port) {
        justify-content: center;
    }
}


.tags {
    grid-area: tags;
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;

    @include respond(tab-port) {
        overflow-x: scroll;
        justify-content: center;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.metadata {
    grid-area: metadata;
    font-size: $font-size;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;

    & span {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        & svg {
            width: 3rem;
            aspect-ratio: 1;
        }
    }

    @include respond(tab-port) {
        justify-content: center;
    }
}

.description {
    grid-area: description;
    font-size: $font-size;
    margin-top: 0.5rem;
}

.ingredients {
    grid-area: ingredients;
    margin-top: 4rem;
}

.steps {
    margin-top: 4rem;

    @include respond(tab-port) {
        text-align: center;
    }
}

.comments {
    margin-top: 6rem;
}

.commentsBox {
    margin-top: 4rem;

    & > *{
        margin-top: 2.5rem;
    }
}

.commentForm {
    display: flex;
    flex-direction: column;

    & button{
        justify-self: flex-end;
    }
}