@use '@sass/abstract/mixins'as *;
@use '@sass/abstract/variables'as *;

.main {
    @include padding;
    background-image: url('../../public/images/food-3.jpg');
    background-size: cover;
    height: 100vh;
}

.wrapper {
    background-color: $color-white;
    padding: 8rem;
    border-radius: 10px;
    position: absolute;
    right: 12rem;
    top: 50%;
    width: 55rem;
    transform: translateY(-50%);

    @include respond(tab-port) {
        width: auto;
        right: 1rem;
        left: 1rem;
    }
}

.frame {
    display: flex;
    justify-content: center;
}