@use '@sass/abstract/mixins'as *;
@use '@sass/abstract/variables'as *;

.main {
    @include padding;
    background-image: url('../../public/images/food-3.jpg');
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: $color-white;
    padding: 8rem;
    border-radius: 10px;
    width: 55rem;

    @include respond(tab-port) {
        width: auto;
        right: 1rem;
        left: 1rem;
    }
}

.frame {
    display: flex;
    justify-content: center;
}