@use '@sass/abstract/variables'as *;

.avatar {
    background-color: $color-primary;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    width: 5rem;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
}