@use '@sass/abstract/variables'as *;

.button {
    background-color: $color-primary;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: $font-headings;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0 3em;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.04);
    }
}

.dark {
    background-color: $color-black;
    color: $color-white;
}

.light {
    background-color: $color-white;
}