@use '@sass/abstract/variables'as *;

.button {
    background-color: $color-primary;
    height: 3.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: $font-headings;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0 3em;
    transition: transform 0.2s ease;
    cursor: pointer;

    &--secondary {
        background-color: $color-black;
    }

    &:hover {
        transform: scale(1.1);
    }
}