@use '@sass/abstract/variables'as *;

.heading {
    font-weight: 400;
}

.fontBody {
    font-family: $font-body;
}

.fontHeadings {
    font-family: $font-headings;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.semiBold {
    font-weight: 600;
}

.h1 {
    font-size: 6rem;
}

.h2 {
    font-size: 5rem;
}

.h3 {
    font-size: 4rem;
}

.h4 {
    font-size: 3.6rem;
}

.h5 {
    font-size: 2.4rem;
}

.uppercase {
    text-transform: uppercase;
}