@use '@sass/abstract/variables'as *;

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.open {
    visibility: visible;
}

.close {
    visibility: hidden;
}

.onClose {
    transform: scale(0) !important;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $color-bone;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    padding: 2rem 2em;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0.2s ease;
}

.menuOpen {
    transform: scale(1);
}