@use '@sass/abstract/variables'as *;
@use '@sass/abstract/mixins'as *;

.card {
    display: grid;
    background-color: $color-bone;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    grid-template-areas:
        "photo"
        "content";

    @include respond(tab-land) {
        grid-template-areas:
            "photo content";
    }

    @include respond(phone) {
        grid-template-areas:
            "photo"
            "content";
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
}

.username {
    background-color: $color-primary;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.4em 2em 0.4em 0.5em;
    border-bottom-right-radius: 5px;

    & a {
        text-decoration: none;
        color: $color-black;
    }
}

.photo {
    grid-area: photo;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.content {
    grid-area: content;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1em 2em 2em 2em;
}

.name {
    font-size: 2.4rem;
    font-weight: 500;
}

.description {
    font-size: 1.8rem;
}

.tags {
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        @include respond(phone) {
            display: none;
        }
    }
}