/*
    $breakpoint argument choices:
        - phone
        - tab-port
        - tab-land
        - big-desktop
        1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 76%;
  }
}

body {
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
}

.mb-lg {
  margin-bottom: 10rem !important;
}

.mb-md {
  margin-bottom: 5rem !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.mt-lg {
  margin-top: 10rem !important;
}

.mt-md {
  margin-top: 5rem !important;
}

.mt-sm {
  margin-top: 2rem !important;
}

.tac {
  text-align: center !important;
}

.fullwidth {
  width: 100% !important;
}

.navbar {
  padding: 1rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}
.navbar a {
  text-decoration: none;
  color: #000;
}
.navbar__links {
  display: flex;
  gap: 4.5rem;
}
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: #72EFDD;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.btn--outlined {
  border: 2px solid #000;
  background-color: transparent;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(1.02);
}

.heading--h1 {
  font-size: 6rem;
}
.heading--h2 {
  font-size: 4rem;
}
.heading--uppercase {
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.8rem;
}

.food-category {
  padding: 4rem;
  background-color: #F4F4F4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 32rem;
  min-width: 32rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.food-category svg {
  color: #72EFDD;
  width: 15rem;
  aspect-ratio: 1;
}
.food-category__name {
  font-size: 2.8rem;
  text-align: center;
}

.footer {
  margin-top: 15rem;
  background-color: #72EFDD;
  padding: 4rem 12rem;
}
.footer__logo_wrapper {
  display: flex;
  justify-content: center;
}

.landing header {
  padding: 6rem 12rem;
  display: grid;
  grid-template-columns: 65% 35%;
}
.landing header img {
  width: 100%;
}
.landing__discover {
  padding: 0 12rem;
}
.landing__discover__categories {
  display: flex;
  gap: 4rem;
  overflow-x: scroll;
  padding: 4rem;
}
.landing__share {
  margin-top: 20rem;
  background-color: #72EFDD;
  padding: 15rem 12rem;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}
.landing__share__content {
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 5rem;
}
.landing__share__content img {
  width: 100%;
}
.landing__share__content p {
  font-size: 2.2rem;
  line-height: 1.8;
}
.landing__about {
  margin-top: 15rem;
  padding: 0 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.landing__about img {
  border: 6px solid #000;
  border-radius: 50%;
  width: 70%;
  justify-self: center;
}

/*# sourceMappingURL=styles.css.map */
